*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(129, 151, 151);

}

h1 {
    text-align: center;
    font-size: 3rem;
}
header {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 90%;
    margin: auto auto;
}
input {
    height: 80px;
    font-size: 1.5rem;
    width: 80%;
    padding-left: 10%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 0px 10px;

}
button.add {
    width: 20%;
    cursor: pointer;
    background:rgb(2, 82, 2);
    color:white;
    font-weight: bold;
    border: none;
    height: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
main {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    /*border: 1px solid blue;*/
    padding-top: 30px;
}
.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 10px;
    margin-bottom: 2%;
    padding-left: 2%;
    
}

.itemNome {
    flex: 70%;
    /*border: 1px solid rgb(139, 165, 22);*/
    font-size: 30px;
    font-weight: bold;
    
}
.itemBotao {
    flex: %;
    /*border: 1px solid rgb(31, 167, 49);*/
   
}

.apagar {
    background:red;
    color:white;
    width:80px;
    height: 60px;
    border: none;
}